In [1]:
import pandas as pd

In [2]:
from finviz.screener import Screener

filters = ['exch_nyse','idx_sp500','ta_perf_52wup']  # Shows companies which are in the S&P500
Valuation = Screener(filters=filters, table='Valuation', order='pb')  # Get the Valuation table and sort it by price ascending
Performance = Screener(filters=filters, table='Performance')  # Get the Valuation table and sort it by price ascending

# Export the screener results to .csv
Valuation.to_csv("valuation_data.csv")
Performance.to_csv("performance_data.csv")

100%|██████████| 7/7 [00:02<00:00,  3.34it/s]
100%|██████████| 7/7 [00:03<00:00,  2.17it/s]

In [3]:
performance_data = pd.read_csv('performance_data.csv')
performance_data = performance_data[['Ticker','Perf Year']]
valuation_data = pd.read_csv('valuation_data.csv')
valuation_data['Market Cap']= valuation_data['Market Cap'].str.replace('B','000')
valuation_data['Market Cap']= valuation_data['Market Cap'].str.replace('M','')
performance_data['Perf Year']= performance_data['Perf Year'].str.replace('%','')
valuation_data = valuation_data[['Ticker','Market Cap', 'P/B']]
final = valuation_data.merge(performance_data).sort_values(by='Ticker')
final = final[final['P/B']!='-']
final = final[final['Perf Year']!='-']
final = final[final['Market Cap']!='-']

final['P/B'] = 1/(final['P/B'].astype(float))
final['Perf Year'] = (final['Perf Year'].astype(float))/100
final['Market Cap'] = final['Market Cap'].astype(float)
final.rename(columns={'Market Cap':'Mktcap', 'P/B':'B/P', 'Perf Year': 'Ret'},inplace=True)
final
out = pd.DataFrame()
n = len(final['Ticker'])
out['Permno']=range(1,n)
out['Ticker']= final['Ticker']
out['B/P'] = final['B/P']
out['Mktcap']= final['Mktcap']
out['Ret'] = final['Ret']

out.dropna(inplace=True)
out.to_csv('valuation_data.csv')
out

     Permno Ticker       B/P  Mktcap     Ret
0         1  BRK-B       inf  689.03  0.0399
1         2    AIG  1.315789   39.63  0.1516
2         3      L  1.162791   14.00  0.1153
3         4    HPE  1.136364   17.55  0.0080
4         5    MET  1.075269   48.51  0.0884
..      ...    ...       ...     ...     ...
125     126     LW  0.036153   10.84  0.0077
126     127    LLY  0.031666  305.54  0.3932
127     128    SYY  0.029762   44.06  0.2397
128     129    SEE  0.022336    8.38  0.0494
129     130    AON  0.019841   57.90  0.2156

[130 rows x 5 columns]