In [2]:
import pandas as pd

In [128]:
from finviz.screener import Screener

filters = []  # Shows companies which are in the S&P500
stock_list = Screener(filters=filters, table='Valuation', order='pb')  # Get the Valuation table and sort it by price ascending
stock_list2 = Screener(filters=filters, table='Performance')  # Get the Valuation table and sort it by price ascending

# Export the screener results to .csv
stock_list.to_csv("stock.csv")
stock_list2.to_csv("stock2.csv")

100%|██████████| 429/429 [02:40<00:00,  2.68it/s]
100%|██████████| 429/429 [02:40<00:00,  2.67it/s]

In [3]:
data2 = pd.read_csv('stock2.csv')

In [4]:
data2 = data2[['Ticker','Perf Year']]

In [5]:
data = pd.read_csv('stock.csv')

In [6]:
data['Market Cap']= data['Market Cap'].str.replace('B','000')
data['Market Cap']= data['Market Cap'].str.replace('M','')
data2['Perf Year']= data2['Perf Year'].str.replace('%','')

In [7]:
data = data[['Ticker','Market Cap', 'P/B']]

In [20]:
final = data.merge(data2).sort_values(by='Ticker')

In [21]:
final = final[final['P/B']!='-']
final = final[final['Perf Year']!='-']
final = final[final['Market Cap']!='-']

In [22]:

final['P/B'] = 1/(final['P/B'].astype(float))
final['Perf Year'] = (final['Perf Year'].astype(float))/100
final['Market Cap'] = final['Market Cap'].astype(float)

In [23]:
final.rename(columns={'Market Cap':'Mktcap', 'P/B':'B/P', 'Perf Year': 'Ret'},inplace=True)

In [24]:
final

     Ticker  Mktcap       B/P     Ret
5238      A   34.68  0.143885 -0.1933
3288     AA    7.85  0.555556  0.4200
2386    AAC    1.23  0.769231  0.0072
3040   AACG   42.63  0.621118 -0.5671
3678   AADI  267.36  0.462963 -0.5670
...     ...     ...       ...     ...
5626    ZWS    3.69  0.050505  0.2335
630      ZY  201.54  1.612903 -0.9463
2587   ZYME  358.85  0.746269 -0.8290
827    ZYNE   49.23  1.408451 -0.7489
4701   ZYXI  283.02  0.251256 -0.4888

[5348 rows x 4 columns]

In [25]:
out = pd.DataFrame()

In [26]:
n = len(final['Ticker'])

In [19]:
n

5348

In [27]:
out['Permno']=range(1,n)
out['Ticker']= final['Ticker']
out['B/P'] = final['B/P']
out['Mktcap']= final['Mktcap']
out['Ret'] = final['Ret']

In [28]:
out.dropna(inplace=True)

In [29]:
out.to_csv('data.csv')

In [30]:
out

      Permno Ticker         B/P  Mktcap     Ret
0          1  BRK-B         inf  689.03  0.0399
1          2    SOS         inf   36.18 -0.9508
2          3   CEPU         inf  468.78  0.3277
4          5   PSHG  100.000000    0.68 -0.9482
5          6    DUO  100.000000   10.85 -0.9454
...      ...    ...         ...     ...     ...
5340    5341   ABMD    0.122549   11.86 -0.1439
5342    5343   TRUP    0.122100    2.65 -0.3906
5344    5345   SMAR    0.122100    3.89 -0.5696
5345    5346   MDGL    0.122100    1.18 -0.2404
5346    5347    SHC    0.121951    5.16 -0.1564

[4975 rows x 5 columns]